<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="description" content="Meet Poppy Jennings, junior full-stack web developer. Former digital marketer helping clients to exceed their digital goals.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="https://kit.fontawesome.com/44f4751f4e.js" crossorigin="anonymous"></script>
    <%# <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
